{% extends "Industrial_Logs/base.html" %}
{% load bootstrap3 %}
{% block header %}
{% endblock header %}
{% block content %}
    <script src="{{ STATIC_URL }}dist/js/OtherCharts.js"></script>
    <div id="back" class="main" style="height:90%;">
        <h1 style="color:wheat;text-align: center;font-family:cursive;font-weight:700;top:-20px;position: relative;top: 10px;">
            设备实时温湿度实时数据</h1>
        <div style="border:2px solid #666;width:100%;height: 80%;float:left" id="realTemAndHum_1"
             class="chart-container"></div>

    </div>
    <script>

    {#实时温度，湿度查询#}
        {#console.log({{ dic }})#}
        $.ajax({
            url: "/getRealData",
            type: "POST",
            async: false,
            cache: false,
            dataType: "json", //返回数据格式为json
            success: function (data) {//请求成功完成后要执行的方法
                console.log(data);
                realTemAndHum_data(data);
            }
        });

    </script>
{% endblock content %}